@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 347 100% 96%;
  --foreground: 347 5% 9%;
  --card: 347 50% 92%;
  --card-foreground: 347 5% 10%;
  --popover: 347 100% 95%;
  --popover-foreground: 347 100% 9%;
  --primary: 347 69% 44%;
  --primary-foreground: 0 0% 100%;
  --secondary: 347 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 309 30% 85%;
  --muted-foreground: 347 5% 35%;
  --accent: 309 30% 80%;
  --accent-foreground: 347 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 347 5% 90%;
  --border: 347 30% 50%;
  --input: 347 30% 18%;
  --ring: 347 69% 44%;
  --radius: 0.5rem;
}
.dark {
  --background: 347 50% 8%;
  --foreground: 347 5% 90%;
  --card: 347 50% 10%;
  --card-foreground: 347 5% 90%;
  --popover: 347 50% 5%;
  --popover-foreground: 347 5% 90%;
  --primary: 347 69% 44%;
  --primary-foreground: 0 0% 100%;
  --secondary: 347 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 309 30% 15%;
  --muted-foreground: 347 5% 60%;
  --accent: 309 30% 15%;
  --accent-foreground: 347 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 347 5% 90%;
  --border: 347 30% 20%;
  --input: 347 30% 18%;
  --ring: 347 69% 44%;
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground overflow-x-hidden;
    font-family: Arial, Helvetica, sans-serif;
  }
}
