@tailwind base;
@tailwind components;
@tailwind utilities;

:root  {
  --background: 9 100% 95%;
  --foreground: 9 5% 10%;
  --card: 9 50% 90%;
  --card-foreground: 9 5% 15%;
  --popover: 9 100% 95%;
  --popover-foreground: 9 100% 10%;
  --primary: 9 49% 49%;
  --primary-foreground: 0 0% 100%;
  --secondary: 9 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: -29 30% 85%;
  --muted-foreground: 9 5% 35%;
  --accent: -29 30% 80%;
  --accent-foreground: 9 5% 15%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 9 5% 90%;
  --border: 9 30% 50%;
  --input: 9 30% 21%;
  --ring: 9 49% 49%;
  --radius: 0.5rem;
}
.dark  {
  --background: 9 50% 9%;
  --foreground: 9 5% 90%;
  --card: 9 50% 10%;
  --card-foreground: 9 5% 90%;
  --popover: 9 50% 5%;
  --popover-foreground: 9 5% 90%;
  --primary: 9 49% 49%;
  --primary-foreground: 0 0% 100%;
  --secondary: 9 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: -29 30% 21%;
  --muted-foreground: 9 5% 60%;
  --accent: -29 30% 21%;
  --accent-foreground: 9 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 9 5% 90%;
  --border: 9 30% 21%;
  --input: 9 30% 21%;
  --ring: 9 49% 49%;
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: Arial, Helvetica, sans-serif;
  }
}
